extends layout-games

block scripts
    script(src="js/tetris.js")

block content
    container(style="display: flex;")
        div(style="flex: 1 0 10%;")
            input#drawGrid(type="checkbox")
            p1 Grid
            br
            h1 Score:
            h1#score 0
            br
            h1 Level:
            h1#level 1
            <canvas ></canvas>
        div(style="flex: 1 0 90%;")
            canvas(width="300" height="600" id="canvasUI" style=" border: 1px solid rgb(0, 0, 0); margin-top: 100px")