body {
    margin: 0px;
}

.wrapper {
    min-width: 1300px;
}

.header {
    width: 60%;
    max-width: 1200%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    margin: -30px auto 0px auto;
}

.h1, h2, p1, p2, a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

bold {
    font-weight: bold;
}